NoGracias/Connected Services/GameDriverService/GameDriver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameDriver" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://nogracias.cloudapp.net/GameDriver.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://nogracias.cloudapp.net/GameDriver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nogracias.cloudapp.net/GameDriver.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameDriver_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IGameDriver_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IGameDriver_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDriver_GetBent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBent" />
  </wsdl:message>
  <wsdl:message name="IGameDriver_GetBent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBentResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDriver_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IGameDriver_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameDriver">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDriver/RegisterUser" message="tns:IGameDriver_RegisterUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDriver/GetData" message="tns:IGameDriver_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDriver/GetDataResponse" message="tns:IGameDriver_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBent">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDriver/GetBent" message="tns:IGameDriver_GetBent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDriver/GetBentResponse" message="tns:IGameDriver_GetBent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDriver/GetDataUsingDataContract" message="tns:IGameDriver_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDriver/GetDataUsingDataContractResponse" message="tns:IGameDriver_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameDriver" type="tns:IGameDriver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IGameDriver/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IGameDriver/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBent">
      <soap:operation soapAction="http://tempuri.org/IGameDriver/GetBent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IGameDriver/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameDriver">
    <wsdl:port name="BasicHttpBinding_IGameDriver" binding="tns:BasicHttpBinding_IGameDriver">
      <soap:address location="http://nogracias.cloudapp.net/GameDriver.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>